language: 
  - cpp

compiler:
  - gcc

before_install:
  - sudo apt-get -qq update

install:
  - sudo apt-get -qq install libglew-dev libsdl1.2-dev

script: 
  - mkdir build
  - cd build
  - cmake ../ -DTHREE_HEADER_ONLY:BOOL=OFF
  - make